.shop-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.item-card {
    width: 7rem;
    background: var(--el-card-bg-color);
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: .5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .item-card {
        width: 5rem;
    }
}

.item-card:hover:not(.is-sold) {
    transform: translateY(-5px);
    border-color: #4CAF50;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-card.is-sold {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: not-allowed;
}

.item-icon {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.item-name {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}